body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 15px;
}

.preview-cards {
  display: flex;
  width: 50%;
  height: auto;
  max-width: 1200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  text-align: left;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

.card h1, h2, h3{
  color: hsl(0, 0%, 95%);
  font-size: 24px;
  margin-bottom: 20px;
}

.card p {
  color:  hsla(0, 0%, 100%, 0.75);
  font-size: 14px;
  margin-bottom: 30px;
}

.card button {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.sedans-learn-more{
  color:hsl(31, 77%, 52%);
}

.suvs-learn-more{
  color:hsl(184, 100%, 22%);
}

.luxury-learn-more{
  color:hsl(179, 100%, 13%);
}

.card button:hover {
  background-color: inherit;
  border: 1px solid white;
  color: white;
}

@media (max-width: 768px) {
  .preview-cards {
    flex-direction: column;
  }

  .card {
    padding: 40px;
  }
}
